*{
	margin: 0;
	padding:0;
}
.fluid{
	width: 100%;
	display:flex;
	justify-content:space-between;
}
.holder{
	display:flex;
	justify-content:space-between;
}
.container{
	display:flex;
	justify-content:space-between;
}
.spider-man{
	display:flex;
	justify-content:space-between;
}